
<table class="table" >
  
  <tr>

    <th>Day</th>
    <th>Location</th>
    <th>Temperature</th>
    <th>Dew Point</th>
    <th>Rainfall</th>
    <th>Wind Direction</th>
    <th>Wind Speed</th>
    <th>Source</th>

  </tr>
 
  <% @data.each do |r| %>
    <% dr = DailyReading.find(r.daily_reading_id) %>
    <% l = Location.find(dr.location_id) %>
    <% rr = RainfallReading.find(r.id) %>
    <% tr = TemperatureReading.find(r.id) %>
    <% wr = WindReading.find(r.id) %>

    <tr>

      <td><%= r.time.strftime("%Y, %b, %d, %T") %></td>
      <td><%= l.name %></td>
      <td><%= tr.current_temperature %></td>
      <td><%= tr.dew_point %></td>
      <td><%= rr.ammount %> <%= rr.unit%></td>      
      <td><%= wr.wind_direction %></td>
      <td><%= wr.wind_speed %></td>
      <td><%= r.source %></td>
      
    </tr>
  <% end %>
</table>

<p><%= @WeatherCondition_details %>></p>
